* {
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #121212;
    color: #ffffff;
}

.container {
    background: #1e1e1e;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.5);
    max-width: 100%;
    width: auto;
    text-align: center;
    box-sizing: border-box;
}

.input-field {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #333;
    border-radius: 4px;
    background-color: #2c2c2c;
    color: #ffffff;
    box-sizing: border-box;
}

.container h1 {
    font-size: 1.5em;
    margin-bottom: 20px;
}



.container button {
    background-color: #2a2a2b;
    color: white;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    width: 100%;
}

.container button:hover {
    background-color: #0056b3;
}

.message {
    margin-top: 15px;
    font-size: 0.9em;
}

.qr-code {
    margin-top: 15px;
    max-width: 100%;
    height: auto;
}